{% include 'includesAdmin/header.html' %}
<div id="page-wrapper">
    {% include 'includesAdmin/header2.html' %}
    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="container">
                <div class="panel">
                    <form id="frm1" name="frm1" action="{{pathCMSSite}}agregar-profesor" method="post">
                        <input type="hidden" name="Dominio" id="Dominio" value="{{dominio}}">
                        <input type="hidden" name="idReg" id="idReg" value="">
                        <input type="hidden" name="Action" id="Action" value="">
                        <input type="hidden" name="path" id="path" value="{{pathCMSSite}}">
                        <div class="panel-heading">
                            <div id="page-title"  style="float: left;padding-top: 5px;">
                                <h2>{{dominio|upper|replace({"_":" "})}}</h2>
                            </div>    
                            <div class="text-right">
                                <button class="btn btn-labeled btn-primary" type="submit">
                                    <span class="btn-label">
                                        <i class="glyph-icon icon-plus"></i>
                                    </span> Agregar
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="example-box-wrapper">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable-example">
                                    <thead>
                                        <tr>
                                           <th class="">id</th>
                                           <th class="">Profesor</th>
                                           <th class="">Telefono</th>
                                          
                                            <th class="">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in datos %} 
                                            <tr class="gradeX">
                                                <td>{{value.id}}</td>
                                                <td>{{value.profesor}}</td>
                                                <td>{{value.telefono}}</td>
                                               
                                                <td>
                                                    <button class="btn btn-labeled btn-info" type="button" onclick="clickBtn({{value.id}}, 'edit','editar-profesor','frm1')">
                                                        <span class="btn-label">
                                                            <i class="glyph-icon icon-edit"></i>
                                                        </span>
                                                        Editar
                                                    </button>
                                                    <button class="btn btn-labeled btn-danger" type="button" onclick="clickBtn({{value.id}}, 'delete','profesor','frm1')">
                                                        <span class="btn-label">
                                                            <i class="glyph-icon icon-times"></i>
                                                        </span>
                                                        Eliminar
                                                    </button>
                                                    <button class="btn btn-warning btn-md btnAddHora" type="button" data-toggle="modal" data-target="#myModalHora" idProfesor="{{value.id}}">
														<span class="btn-label">
															<i class="glyph-icon icon-plus"></i>
														</span>
														Horas
													</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalHora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Agregar Horas</h4>
			</div>
			<div class="modal-body">
				Salón:

				<select name="txtSa" id="txtSa">
					{% for key, v in salon %}
						<option value="{{v.id}}">{{v.salon}}</option>
					{% endfor %}
				</select>
				Horas:
				<input type="number" name="txtHora" id="txtHora">
				<input type="hidden" name="txtIDProfesor" id="txtIDProfesor">
				<button class="btn btn-azure btn-md" type="button" id="cmdAddHoraNueva">
					<span class="btn-label">
						<i class="glyph-icon icon-plus"></i>
					</span>
				</button>
                <hr>
                <div  id="capaResultado" >
                AQUI MERO
                </div>
			</div>

		</div>
	</div>
</div>

{% include 'includesAdmin/footerJS.html' %}

<script>
	$('.btnAddHora').click(function () {
        var idProfesor = $(this).attr("idProfesor");
        $("#txtIDProfesor").val(idProfesor);     
        var idProfesor = $("#txtIDProfesor").val();
        var path = $("#path").val();
        var data = "idP="+idProfesor;
        var html = $.ajax({
            url: path + "includes/ajax/addHoras.php",
            type: "POST",
            data: data,
            async: false
        }).responseText;
        $("#capaResultado").html(html);
    });

    $('#cmdAddHoraNueva').click(function () {
        var idsalon = $("#txtSa").val();
        var horas = $("#txtHora").val(); 
        var idProfesor = $("#txtIDProfesor").val();
        var path = $("#path").val();
        var data = "ids=" + idsalon+"&hora="+horas+"&idP="+idProfesor;
        var html = $.ajax({
            url: path + "includes/ajax/addHoras.php",
            type: "POST",
            data: data,
            async: false
        }).responseText;
        $("#capaResultado").html(html);
    });
</script>
